
.work{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
    justify-content: center;
  }

.w-right{
    position: relative;
}

.w-mainCircle{
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}

.w-mainCircle>*{
    position: absolute;
}

.w-mainCircle > :nth-child(1){
    top: -3rem;
    left: 6rem;
}
.w-mainCircle > :nth-child(2) {
    left: -3rem;
    top: 5rem;
  }
  .w-mainCircle > :nth-child(3) {
    left: 6rem;
    top: 5rem;
  }
  .w-mainCircle > :nth-child(4) {
    left: 15rem;
    top: 5rem;
  }
  .w-mainCircle > :nth-child(5) {
    left: 6rem;
    top: 13rem;
  }

  .w-secCircle{
    border: 5px solid #ebebeb;
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--smboxShadow);
    background: white;
  }

  .w-secCircle>img{
    transform: scale(0.6);
  }

  .w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
  }
  .blueCircle{
    background: #1949b8;
    left: 7rem;
    top: 0rem;
  }
  .yellowCircle{
    background: #f5c32c;
    left: 7rem;
    top: 8rem;
  }
  

  @media screen and (max-width: 768px) {
    .work {
      display: flex;
      height: 20rem;
      padding: 0;
    }
  
    .w-right {
      height: 20rem;
      width: 20rem;
      transform: scale(0.6);
    }
    .w-mainCircle{
      position: static;
    }
    .w-backCircle{
      left: 5rem!important;
    }
    .yellowCircle{
      top: 5rem;
    }
  
  }

  @media screen and (min-width: 769px) and  (max-width: 1024px){
    .work {
      
      height: 25rem;
     
    }
  }


  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .work{
      height: 25rem;
    }
  }
